

.landing-img-wrapper {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.landing-img-wrapper img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.auth-tile-wrapper{
    width: 30rem;
    height: auto;
    background-color: var(--secondary-bg);
}
.primary-bg{
    background-color: var(--lynx-gray-color);
}