@import "tailwindcss";

html{
  background-color: var(--lynx-gray-color);  
  /* overflow-y: overlay; */
  overflow-y: scroll !important;
}
body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
